.loaderCont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderText {
    font-size: 20px;
    color: gray;
}