.contHome {
  padding: 0 64px 32px 64px;
}

.homeImg {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.contStarted {
  position: relative;
  border-radius: 30px;
  width: 720px;
  height: 530px;
  background: #f8f8f8;
  padding: 98px 108px 0 64px;
  flex-shrink: 0;
}

.titleText {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  position: relative;
  margin-bottom: 32px;
}

.textSpan {
  font-style: italic;
  font-weight: 400;
  z-index: 1;
  position: relative;
  display: inline;
}

.backgroundSpanNotLogIn,
.backgroundSpan {
  position: absolute;
  border-radius: 8px;
  width: 195px;
  height: 40px;
  top: 165px;
  left: 236px;
  z-index: 0;
}

.backgroundSpanNotLogIn {
  background: #8a8a89;
}

.text {
  width: 471px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}

.btnStartedNotLogIn,
.btnStarted {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  border: none;
  border-radius: 12px;
  width: 267px;
  height: 60px;
  cursor: pointer;
}

.btnStartedNotLogIn {
  background: #8a8a89;
}

.btnStartedNotLogIn:hover {
  background: #acacaa;
}

.imgSvg {
  width: 568px;
  height: 530px;
  flex-shrink: 0;
  border-radius: 30px;
}

.teacherProfile {
  display: flex;
  border-radius: 30px;
  width: 1312px;
  height: 116px;
  padding: 40px 0 40px 123px;
  align-items: center;
}

.teacherProfile li:not(:last-child) {
  margin-right: 100px;
}

.contUlLi {
  display: flex;
  gap: 16px;
  align-items: center;
}

.numberPlus {
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
}

.teacherProfileText {
  width: 96px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

.subjectsClass {
  width: 74px;
}
