.contRegistrationForm {
    border-radius: 30px;
    width: 565px;
    height: 599px;
    padding: 64px;
    background: #fff;
}

.titleText {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 40px;
}

.inputElem {
    margin-bottom: 18px;
}

.inputLastElem {
    margin-bottom: 40px;
}

.input {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 0 16px 18px;
    width: 438px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
}

.btnRegistrationForm {
    border-radius: 12px;
    /* padding: 16px 210px; */
    width: 438px;
    height: 60px;
    background: #f4c550;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
}

.btnRegistrationForm:hover {
    background: #ffdc86;
}