.contRout {
  display: flex;
  padding: 20px 128px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  margin-right: 390px;
}

.logoSvg {
  display: block;
  width: 28px;
  height: 28px;
}

.textLogo {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.contUl {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-right: 268px;
}

.contLiHome {
  margin-right: 28px;
}

/* .contLiTeachers {
} */

.link {
  color: #121417;
}

.active {
  color: #d84343;
}

.contAuthentication {
  display: flex;
}

.loginSvg {
  width: 20px;
  height: 20px;
  fill: none;
  margin-right: 8px;
}

.btnLogIn {
  all: unset;
  display: inline-flex;
  width: 73px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #8a8a89;
  margin-right: 16px;
  cursor: pointer;
}

.btnRegistration {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #8a8a89;
  border: none;
  cursor: pointer;
}

.btnRegistration:hover {
  background: #acacaa;
}
