.contFilter {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.contLanguage,
.contLevel,
.contPrice {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.filterTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
}

.languageField {
  width: 221px;
}

.levelField {
  width: 198px;
}
.levelField option {
}

.priceField {
  width: 124px;
}
