.contFilter {
  display: flex;
  gap: 20px;
  padding-left: 365px;
  margin-bottom: 32px;
}

.contLanguage,
.contLevel,
.contPrice {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.contPrice {
  position: relative;
}

.filterTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
}

.languageField {
  width: 221px;
}

.levelField {
  width: 198px;
}

.priceField {
  width: 124px;
}

.dollar {
  position: absolute;
  font-size: 17px;
  top: 40px;
  left: 40px;
  color: rgb(58, 57, 57);
}
