.contCard {
  display: flex;
  /* gap: 48px; */
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  /* height: 328px; */
  background: #faf9f9;
  /* background: #fff; */
}

.photoWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 48px;
}

.backgroundYellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fbe9ba;
  z-index: 1;
}

.backgroundWhite {
  position: absolute;
  top: 50%;
  left: 50%;
  /* left: 60px; */
  width: 114px;
  height: 114px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.teacherPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  /* left: 60px; */
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.iconGroup {
  position: absolute;
  top: 19px;
  left: 85px;
  width: 12px;
  height: 12px;
  z-index: 4;
}

/* .portfolio {
  width: 968px;
  height: 280px;
} */

.info {
  display: flex;
  align-items: center;
  /* width: 968px; */
  margin-bottom: 8px;
}

.langText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  margin-right: 192px;
}

.ratingPrice {
  display: flex;
  margin-right: 64px;
}

.ratingPrice li {
  display: flex;
  align-items: center;
}

.ratingPrice li:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.2);
  margin: 0 16px;
}

/* .svgBook, */
.svgStar {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.ratingPriceText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
}

.spanPrice {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #38cd3e;
}

.iconHeart {
  display: block;
  width: 26px;
  height: 26px;
  /* fill: none; */
}

.teacherName {
  margin-bottom: 32px;
}

.categories {
  margin-bottom: 16px;
}

.categories li {
  margin-bottom: 8px;
}

.categories li:last-child {
  margin-bottom: 0;
}

.categoriesText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.speaks {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.categoriesTextSpan {
  /* text-decoration: none; */
  color: #8a8a89;
}

.btnReadMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  border: none;
  background-color: inherit;
  padding-left: 0;
  margin-bottom: 32px;
  cursor: pointer;
}

.contLevel {
  display: flex;
  gap: 8px;
}

.levelItem {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
}
